<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ブロックチェーンお勉強くん</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ethmanager">
                <span class="oi oi-plus" aria-hidden="true"></span> Eth管理君
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bundleviewer">
                <span class="oi oi-plus" aria-hidden="true"></span> Bundle市場
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="smartcontractviewer">
                <span class="oi oi-plus" aria-hidden="true"></span> スマコン図書館
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nftviewer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> NFT確認くん1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="numitemviewer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ブロックチェーン薬草研究委員
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collectionviewer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ブランドチェックちゃん
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="technicalreader">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 技術資料所長
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
